* {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: rgba(0, 0, 0, 0);
}

html {
  height: 100%;
}

body {
  padding: 60px;
  background: linear-gradient(
    0deg,
    rgba(2, 15, 52, 1) 0%,
    rgba(9, 9, 140, 1) 64%,
    rgba(126, 13, 178, 1) 100%
  );
  background-size: 100% 100% cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  background: rgb(2, 15, 52);
  border-radius: 2rem;
  border: 1px solid rgb(97, 32, 158);
  color: white;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  height: min-content;
}

h1 {
  font-size: 3.5rem;
  font-family: "Press Start 2P", cursive;
  color: white;
  backdrop-filter: blur;
  background: linear-gradient(
    0deg,
    rgba(126, 13, 178, 0.02) 0%,
    rgba(9, 9, 140, 0.2) 64%,
    rgba(2, 15, 52, 0.3) 100%
  );

}

h2 {
  font-size: 1.5rem;
  font-family: "Press Start 2P", cursive;
  color: white;
}

h3 {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-family: "Press Start 2P", cursive;
  color: white;
}

h4 {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  font-family: "Press Start 2P", cursive;
  color: white;
}

button {
  margin: 5px 10px;
  align-content: space-between;
}

.top-bar{
  background-color: rgba(0, 0, 0, 0);  
  position: absolute;  
  left: 0;  
  right: 0;  
  top: 0;  
  height: 30px;  
  display: flex;  
  align-items: flex-end;  
  box-shadow: 0 0 5px 0 black;  
  display: inline;  
} 

.btn {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 2px solid black;
}

.outline-pink {
  border-color: #f75bdf !important;
  color: #f75bdf;
}

.outline-pink:hover{
  background-color: #f75bdf !important;
  color: white;
}

.outline-purple {
  border-radius: 2rem;
  border-color: rgba(126, 13, 178, 1) !important;
  color: purple;
  min-width: 20%;
}

.outline-purple:hover{
  background-color: rgba(126, 13, 178, 1) !important;
  color: white;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  align-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.182);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: block;
  flex-direction: column;
  height: 0%;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 5px;
  overflow: hidden;
}

.card p {
  flex: 1;
  font-size: 1rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
  color: white;
}

.card img {
  width: 100%;
}

.card-img {
  max-height: 250px;
}

.modal-content {
  background-color: rgba(178, 84, 202, 0.286);
  backdrop-filter: blur(5px);
  color: white;
}

.header {
  margin: 5px;
  background-image: url(https://support.kaspersky.com/resources/img/nyan_cat_animation_new.gif);
  background-size: contain;
  background-position: right;
  background-color: rgba(0, 0, 0, 0);
}
